---
import UIKitLayout from '@layouts/UI-kit/UI-kit'
import UiCode from '@ui/UiCode/UiCode'
import { Image } from 'astro:assets'
---

<UIKitLayout>
  <section class="ui__section">
    <div class="ui-container">
      <div class="ui__component-wrap">
        <p>Светлая обертка</p>
        <div class="ui__component">
          <Image
            src="https://i.imgur.com/PGmsWjq.jpg"
            alt="Example image."
            width={1920}
            height={403}
          />
        </div>
        <UiCode
          code={`<section class="ui__section">
  <div class="ui-container">
    <div class="ui__component-wrap">
      <div class="ui__component">
        <ComponentName attr="name" />
      </div>
      <UiCode code={'<ComponentName attr="name" />'} />
    </div>
  </div>
</section>`}
        />
      </div>
    </div>
  </section>

  <section class="ui__section">
    <div class="ui-container">
      <div class="ui__component-wrap ui__component-wrap--dark">
        <p>Тёмная оберка</p>
        <div class="ui__component">
          <Image
            src="https://i.imgur.com/PGmsWjq.jpg"
            alt="Example image."
            width={1920}
            height={403}
          />
        </div>
        <UiCode
          code={`<section class="ui__section">
  <div class="ui-container">
    <div class="ui__component-wrap ui__component-wrap--dark">
      <div class="ui__component">
        <ComponentName attr="name" />
      </div>
      <UiCode code={'<ComponentName attr="name" />'} />
    </div>
  </div>
</section>`}
        />
      </div>
    </div>
  </section>

  <section class="ui__section">
    <div class="ui__component-wrap">
      <p>Без блока контейнера: светлая</p>
      <div class="ui__component">
        <Image
          src="https://i.imgur.com/PGmsWjq.jpg"
          alt="Example image."
          width={1920}
          height={403}
        />
      </div>
      <UiCode
        code={`<section class="ui__section">
  <div class="ui__component-wrap">
    <div class="ui__component">
      <ComponentName attr="name" />
    </div>
    <UiCode code={'<ComponentName attr="name" />'} />
  </div>
</section>`}
      />
    </div>
  </section>

  <section class="ui__section">
    <div class="ui__component-wrap ui__component-wrap--dark">
      <p>Без блока контейнера: тёмная</p>
      <div class="ui__component">
        <Image
          src="https://i.imgur.com/PGmsWjq.jpg"
          alt="Example image."
          width={1920}
          height={403}
        />
      </div>
      <UiCode
        code={`<section class="ui__section">
  <div class="ui__component-wrap ui__component-wrap--dark">
    <div class="ui__component">
      <ComponentName attr="name" />
    </div>
    <UiCode code={'<ComponentName attr="name" />'} />
  </div>
</section>`}
      />
    </div>
  </section>

  <section class="ui__section">
    <div class="ui__component-wrap">
      <p>Без блока контейнера, компонент на весь экран: светлая</p>
      <div class="ui__component ui__component--full">
        <Image
          src="https://i.imgur.com/PGmsWjq.jpg"
          alt="Example image."
          width={1920}
          height={403}
        />
      </div>
      <UiCode
        code={`<section class="ui__section">
  <div class="ui__component-wrap">
    <div class="ui__component ui__component--full">
      <ComponentName attr="name" />
    </div>
    <UiCode code={'<ComponentName attr="name" />'} />
  </div>
</section>`}
      />
    </div>
  </section>

  <section class="ui__section">
    <div class="ui__component-wrap ui__component-wrap--dark">
      <p>Без блока контейнера, компонент на весь экран: тёмная</p>
      <div class="ui__component ui__component--full">
        <Image
          src="https://i.imgur.com/PGmsWjq.jpg"
          alt="Example image."
          width={1920}
          height={403}
        />
      </div>
      <UiCode
        code={`<section class="ui__section">
  <div class="ui__component-wrap ui__component-wrap--dark">
    <div class="ui__component ui__component--full">
      <ComponentName attr="name" />
    </div>
    <UiCode code={'<ComponentName attr="name" />'} />
  </div>
</section>`}
      />
    </div>
  </section>
</UIKitLayout>
