.title {
  margin: 0;
  line-height: 1.4;
  font-weight: 700;

  &--h1 {
    font-size: 58px;
  }

  &--h2 {
    font-size: 48px;
  }

  &--h3 {
    font-size: 38px;
  }

  &--h4 {
    font-size: 28px;
  }

  &--h5 {
    font-size: 20px;
  }

  &--h6 {
    font-size: 16px;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
